<!DOCTYPE html>
<html>
  <head>
    <title>Eldio : Ellen Radio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>방금까지 마음의 날씨는 어땠어? :-)</h1>
    <ul>
      <a href="/from/<%=weather%>/1">기뻤어</a>
    	<a href="/from/<%=weather%>/2">슬펐어</a>
    	<a href="/from/<%=weather%>/3">바빴어</a>
    	<a href="/from/<%=weather%>/4">한가했어</a>
    	<a href="/from/<%=weather%>/5">외로웠어</a>
    	<a href="/from/<%=weather%>/6">나른했어</a>
    	<a href="/from/<%=weather%>/7">무서웠어</a>
    	<a href="/from/<%=weather%>/8">행복했어</a>
    	<a href="/from/<%=weather%>/9">짜증났어</a>
    	<a href="/from/<%=weather%>/10">피곤했어</a>
    </ul>
  </body>
</html>
