<!DOCTYPE html>
<html>
  <head>
    <title>Eldio : Ellen Radio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>지금은 어디야? :-)</h1>
    <ul>
      <a href="/to/<%=weather%>/<%=emotion%>/1">학교야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/2">회사야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/3">공원이야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/4">도서관이야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/5">카페야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/6">지하철이야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/7">버스야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/8">여행중이야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/9">걷는중이야</a>
    	<a href="/to/<%=weather%>/<%=emotion%>/10">산이야</a>
      <a href="/to/<%=weather%>/<%=emotion%>/11">바다야</a>
      <a href="/to/<%=weather%>/<%=emotion%>/12">침대야</a>
    </ul>
  </body>
</html>
