<!DOCTYPE html>
<html>
  <head>
    <title>Eldio : Ellen Radio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>어디로 데려다줄까? :-)</h1>
      <ul>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/1">여름의 바닷가</a></li> 
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/2">비밀의 화원</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/3">조선시대의 방화수류정</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/4">아이슬란드의 오로라</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/5">뉴욕의 타임스퀘어</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/6">일본의 시부야거리</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/7">가을의 코스모스길</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/8">시드니의 일렉트로니카클럽</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/9">파리의 샹젤리제 거리</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/10">독일의 아우토반</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/11">남프랑스의 포도원</a></li>
        <li><a href="/result/<%=weather%>/<%=emotion%>/<%=from%>/12">노르웨이의 눈길</a></li>    	      
      </ul>
  </body>
</html>
